@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.MuiButtonBase-root {
  padding: 0 !important;
  transition: all 0.2s linear;
}

.css-hn784z:hover .MuiButtonBase-root {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 6px !important;
  
}

.css-1abc02a:hover .MuiButtonBase-root {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 6px !important;
}

.css-aq8pb7-MuiSvgIcon-root {
  font-size: 10px !important;
}