@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');



*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
 
}

.MuiButtonBase-root {
  padding: 0 !important;
  transition: all 0.2s linear;
  
}

.css-hn784z:hover .MuiButtonBase-root {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 6px !important;
  
}

.css-1abc02a:hover .MuiButtonBase-root {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 6px !important;
}

.css-hn784z,.css-1abc02a{
  transform: translateY(-2rem);
}

.css-aq8pb7-MuiSvgIcon-root {
  font-size: 10px !important;
}

.member-title {
  margin-top: 0 !important;
  border-left: 250px solid yellow;
  border-top: 5px solid transparent;
  border-bottom: 2px solid transparent ;
  transform: rotateX(-10deg);
}

.flavor::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,transparent,rgb(39,39,42) 60%);
}

.product::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,transparent,rgb(39,39,42) 40%);
}

.css-ohwg9z {
  overflow: visible !important;
}